<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		{#- Favicon #}
		<link rel="icon" type="image/png" href="/img/favicon.png" sizes="82X82" />


		{#- Bootstrap #}
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
		
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">

		{#- Atom and JSON feeds included by default #}
		<link rel="alternate" href="/feed/feed.xml" type="application/atom+xml" title="{{ metadata.title }}">
		<link rel="alternate" href="/feed/feed.json" type="application/json" title="{{ metadata.title }}">

		{#- Uncomment this if you’d like folks to know that you used Eleventy to build your site!  #}
		{#- <meta name="generator" content="{{ eleventy.generator }}"> #}

		{#-
		CSS bundles are provided via the `eleventy-plugin-bundle` plugin:
		1. You can add to them using `{% css %}`
		2. You can get from them using `{% getBundle "css" %}` or `{% getBundleFileUrl "css" %}`
		3. You can do the same for JS: {% js %}{% endjs %} and <script>{% getBundle "js" %}</script>
		4. Learn more: https://github.com/11ty/eleventy-plugin-bundle
		#}

		{#- Add an arbitrary string to the bundle #}
		{%- css %}* { box-sizing: border-box; }{% endcss %}
		{#- Add the contents of a file to the bundle #}
		{%- css %}{% include "public/css/index.css" %}{% endcss %}
		{#- Or add from node_modules #}
		{# {%- css %}{% include "node_modules/prismjs/themes/prism-okaidia.css" %}{% endcss %} #}

		{#- Render the CSS bundle using Inlined CSS (for the fastest site performance in production) #}
		<style>{% getBundle "css" %}</style>
		{#- Renders the CSS bundle using a separate file, if you can't set CSP directive style-src: 'unsafe-inline' #}
		{#- <link rel="stylesheet" href="{% getBundleFileUrl "css" %}"> #}
	</head>
	<body>
		<a href="#skip" class="visually-hidden">Skip to main content</a>

		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-12">
					<nav class="navbar">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
								<span class="icon-bar navbar-inverse"></span>
								<span class="icon-bar navbar-inverse"></span>
								<span class="icon-bar navbar-inverse"></span>                        
							</button>
							<a class="navbar-brand home-link" href="/"><span class="nameOpp">joe</span>-har-<span class="nameOpp">ay</span></a>
						</div>
						<div class="collapse navbar-collapse" id="myNavbar">
							<h2 class="visually-hidden">Top level navigation menu</h2>
							<ul class="nav navbar-nav text-center">
								<li class=""><a href="/" class="">Home</a></li>
								{%- for entry in collections.all | eleventyNavigation %}
									{% if entry.url != "/" %} {# Exclude the home page #}
										<li><a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a></li>
									{% endif %}
								{%- endfor %}
							</ul>
						</div>
					</nav>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-12">
					<main id="skip">    
						<div class="row">
							<div class="col-xs-12 col-sm-6 col-md-6">
								{{ content | safe }}
							</div>
							<div class="col-xs-12 col-sm-6 col-md-6">
								<img src="/img/portrait.svg" class="img-responsive center-block" alt="Portrait Image" style="width: 80%;">
							</div>
						</div>
					</main>
				</div>
			</div>
		</div>
		<footer></footer>
		<!-- Current page: {{ page.url | htmlBaseUrl }} -->
	</body>
</html>	